<div class="col-md-4 order-md-2 mb-4 list-group-item">
    <form id="consultation_form">
        <h4>Задать вопрос юристу</h4>
        <div class="mb-3">
            <label for="consultation-name">Ваше имя</label>
            <input type="text" class="form-control" name="name" id="consultation-name">
        </div>
        <div class="mb-3">
            <label for="consultation-feedback">Номер телефона или почтовый адрес</label>
            <input type="text" class="form-control" name="feedback" id="consultation-feedback">
        </div>
        <div class="mb-3">
            <label for="consultation-question">Какой вопрос Вас интересует?</label>
            <textarea class="form-control" name="question" id="consultation-question" rows="3"></textarea>
        </div>
        <button class="btn btn-primary btn-lg btn-block">Отправить</button>
    </form>
</div>