</main>
<footer class="footer mt-auto py-3">

    <span class="text-muted">
        © 2020 Совместное Правовое Бюро
    </span>

</footer>
<script src="/javascript/script.js"></script>
</body>


</html>